/* General */

body {
    background-color: #181017;
    color: white;
}

img {
    margin-bottom: 20px;
}

p {
    margin-top: 0;
}

.project-preview img{
    display: block;
}

.project-summary{
    color: white;
}

a {
    text-decoration: none;
}

.menu-item,
.caption.git-link {
    color: rgba(255,255,255,0.8);
}

.menu-item:hover,
.caption.git-link:hover {
    color: rgba(255,255,255,1);
}


#here {
    padding-bottom: 4px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: pink;
}



.caption {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: thistle;
}

#link-group {
    display: flex;
    flex-direction: column;
    
}

.social-link {
    margin-bottom: 10px;
    color: white;
}

/* .caption.git-link {
    color: white;
} */

/* .caption.git-link:hover {
    color: white;
    text-decoration: underline;
} */



img {
    width: 100%;
    height: auto;
}

.menu-item {
    margin-left: 24px;
}


/* Typography */

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 300;
}

#logo {
    color: white;
}




/* Flex */

header,
footer,
menu {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
}

a#logo {
    flex-basis: 50%;
}







